body {
    background-color: #dddddd;
}

h1 {
    background-color: #ffffff;
}

/* div {
    background-color: #4aaaa5;
} */

span {
    background-color:#4aaaa5;
}

.tealtext {
    Text
}

img {
    height: 200px;
    width: 200px;
    float: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#666666;
    color: white;
    text-align: center;
}

.paracenter {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid black;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 300px;
    margin-bottom: 300px;
}